<script setup>

</script>

<template>
  <label class="flex relative space-x-5 md:space-x-2 text-xl md:text-base md:font-light mt-4 pt-3 items-center">
    <input type="checkbox" class="peer relative appearance-none w-10 h-10 min-w-10 min-h-10 md:w-7 md:h-7 md:min-w-7 md:min-h-7 text-[#01b9c5] rounded-md border-2 border-[#01b9c5] focus:outline-none checked:bg-[#01b9c5]">
    <span class="text-slate-500">Я соглашаюсь с
    <a href="#" class="hover:underline text-sky-600">Правилами сервиса</a>
    и условиями
    <a href="#" class="hover:underline text-sky-600">Публичной оферты.</a>
  </span>
  </label>
</template>

<style scoped>
input[type="checkbox"]::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 12px;
  background-image: url('data:image/svg+xml;utf8,<svg width="16" height="12" viewBox="0 0 16 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 6.75789L5.56923 10.8L14.2 1.2" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

input[type="checkbox"]:checked::before {
  opacity: 1;
}
</style>