<script setup>
import { defineProps, computed } from 'vue';

const props = defineProps({
  tariff: Object,
  isFocus: Boolean,
  isSpecial: Boolean,
  timerFinished: Boolean
});

const showDiscount = computed(() => !props.timerFinished && props.tariff.discount);
const showOriginalPrice = computed(() => !props.timerFinished && props.tariff.originalPrice);

</script>

<template>
  <div :class="[
    'w-full',
    isSpecial ? 'max-w-none min-w-full' : 'lg:w-1/3'
  ]">
    <div v-if="showDiscount" class="flex justify-end -mb-20 lg:-mb-9 me-4 lg:me-2 relative">
      <img src="../assets/img/Star.png" alt="star" class="w-[75px] lg:w-auto">
      <p class="text-white text-xl lg:text-lg absolute top-6 right-4 lg:top-5 lg:right-3">{{ tariff.discount }}%</p>
    </div>
    <div :class="[
      'tariff-card lg:w-auto lg:max-h-[259px] flex justify-center border-4 lg:border-2 border-gray-400/50 rounded-3xl bg-white hover:bg-[#01b9c50d] active:bg-[#01b9c51a] focus:border-[#01b9c5] focus:bg-[#01b9c50d]',
      isSpecial ? 'flex-col lg:flex-row items-center text-center lg:text-start lg:space-x-6 p-8 lg:px-8 lg:py-2 lg:min-h-[120px]' : 'flex-col sm:flex-col p-8 text-center min-h-[120px] lg:min-h-[259px]'
    ]" tabindex="0">
      <div :class="[
        'font-oswald font-oswald-medium pb-2',
        isSpecial ? 'text-4xl lg:text-3xl text-black/80' : 'text-4xl lg:text-2xl text-slate-500'
      ]">{{ tariff.duration }}</div>
      <div class="flex flex-col text-7xl lg:text-[50px] text-black/80 font-pt-root-ui font-bold mx-auto">
        {{ tariff.price }}₽
        <span v-if="showOriginalPrice" class="text-4xl lg:text-2xl text-gray-500/80 line-through text-end -mt-3 pb-3">{{ tariff.originalPrice }}₽</span>
      </div>
      <div class="mx-auto text-lg md:text-base lg:text-md">{{ tariff.description }}</div>
    </div>
  </div>
</template>

<style scoped>

</style>
