<script setup>
import { ref, computed, onMounted } from 'vue';

const props = defineProps(['initialTime']);
const emit = defineEmits(['timerFinished']);

const timeLeft = ref(props.initialTime);

const formattedTime = computed(() => {
  const minutes = Math.floor(timeLeft.value / 60).toString().padStart(2, '0');
  const seconds = (timeLeft.value % 60).toString().padStart(2, '0');
  return { minutes, seconds };
});

const onTimerFinish = () => {
  emit('timerFinished');
};

const startTimer = () => {
  const interval = setInterval(() => {
    if (timeLeft.value > 0) {
      timeLeft.value--;
    } else {
      clearInterval(interval);
      onTimerFinish();
    }
  }, 1000);
};

onMounted(() => {
  startTimer();
});
</script>

<template>
  <div>
    <div class="flex flex-col items-center">
      <h1 :class="['timer font-bebas-neue font-black text-[54px] text-[#01b9c5]', { 'text-[#FD4D35] animate-blink': timeLeft <= 30 }]">
        {{ formattedTime.minutes }} : {{ formattedTime.seconds }}</h1>
      <div class="flex space-x-7 -mt-5 items-center justify-center">
        <p class="font-pt-root-ui font-bold text-slate-500 ps-1">минут</p>
        <p class="font-pt-root-ui font-bold text-slate-500">секунд</p>
      </div>
    </div>
  </div>
</template>

<style scoped>

@keyframes blink {
  50% {
    opacity: 0;
  }
}
.animate-blink {
  animation: blink 1s step-start infinite;
}
</style>
