<script setup>
import { ref, onMounted, onUnmounted } from 'vue';
import Timer from './components/Timer.vue';
import TariffCard from './components/TariffCard.vue';
import CheckBox from "./components/CheckBox.vue";

const tariffs = ref([
  { duration: '1 НЕДЕЛЯ', price: 699, originalPrice: 999, discount: -30, description: 'Чтобы просто начать 👍' },
  { duration: '1 МЕСЯЦ', price: 999, originalPrice: 1699, discount: -40, description: 'Привести тело в порядок 💪' },
  { duration: '3 МЕСЯЦА', price: 2990, originalPrice: 5990, discount: -50, description: 'Изменить образ жизни 🔥' },
  { duration: 'НАВСЕГДА', price: 5990, originalPrice: 18990, discount: -70, description: 'Всегда быть в форме и поддерживать своё здоровье ✨' }
]);

const handleTimerFinished = () => {
  tariffs.value = tariffs.value.map(tariff => ({
    duration: tariff.duration,
    price: tariff.originalPrice,
    description: tariff.description
  }));
};

const isDesktop = ref(window.innerWidth >= 768)

const checkWidth = () => {
  isDesktop.value = window.innerWidth >= 768
}

onMounted(() => {
  window.addEventListener('resize', checkWidth)
})

onUnmounted(() => {
  window.removeEventListener('resize', checkWidth)
})
</script>

<template>
  <div class="mx-auto w-screen">
    <header>
      <div class="container flex justify-center items-center space-x-6 pb-1">
        <h2 class="text-xl sm:text-3xl font-pt-root-ui font-pt-root-ui-regular sm:font-pt-root-ui-bold text-gray-800">Скидка действует:</h2>
        <Timer :initialTime="120" @timerFinished="handleTimerFinished" class="flex items-center justify-center"/>
      </div>
    </header>
    <main class="flex items-center justify-center bg-gray-100/80 w-full">
      <div class="container mx-auto flex flex-col justify-center items-center w-full xl:w-3/4">
        <h1 class="font-bebas-neue font-black text-3xl sm:text-[35px] text-gray-800 py-10 text-center">ВЫБЕРИТЕ ПОДХОДЯЩИЙ ТАРИФНЫЙ ПЛАН</h1>
        <div class="container flex flex-col md:flex-row items-center md:items-start md:space-x-0 xl:space-x-20 md:mt-6 lg:-ms-32 xl:-ms-44">
          <div id="man" class="flex flex-col justify-center items-center w-full min-w-[434px] h-full md:mt-6">
            <img src="./assets/img/to_be_2_card.png" width="434" height="715" alt="Мужчина">
            <div class="w-full h-[130px] -mt-[130px] bg-gradient-to-t from-[#F5F6F7] to-transparent"></div>
          </div>
          <div class="flex flex-col w-[90%] lg:w-4/6 md:mx-auto">
            <div class="flex flex-col lg:flex-row items-center justify-center space-y-5 lg:space-y-0 lg:space-x-2 w-full">
              <TariffCard
                  v-for="(tariff, index) in tariffs.slice(0, 3)"
                  :key="index"
                  :tariff="tariff"
                  :isFocus="index === 0"
              />
            </div>
            <div class="mt-6 flex justify-center">
              <TariffCard
                  :tariff="tariffs[3]"
                  :isSpecial="true"
              />
            </div>
            <div class="pt-3 md:pb-12 lg:pb-24">
              <p class="text-xl md:text-base mb-12 md:mb-0">Следуя плану на 3 месяца, люди получают в 2 раза лучший результат, чем за 1 месяц</p>
              <CheckBox />
              <div class="py-10 relative md:flex lg:block md:justify-center">
                <button id="blink" class="text-white w-full md:w-auto text-3xl md:text-xl font-medium py-10 md:py-5 px-24 rounded-full hover:ring-4 hover:ring-[#FD4D354D] active:ring-[#FD4D3599]">КУПИТЬ</button>
              </div>
              <p v-if="isDesktop" class="text-slate-500/80 text-sm font-light">
                Нажимая «Купить», Пользователь соглашается на автоматическое списание денежных средств по истечению купленного периода. Дальнейшие списания по тарифам участвующим в акции осуществляются по полной стоимости согласно оферте.
              </p>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</template>


<style>
@keyframes blinking {
  0% {
    background-color: #FD4D3586;
  }
  100% {
    background-color: #FD4D35;
  }
}

#blink {
  animation: blinking 500ms ease alternate-reverse infinite;
}


</style>
