<script setup>
import { computed } from 'vue';
import { defineProps } from 'vue';

const props = defineProps({
  type: {
    type: String
  }
});

const buttonClass = computed(() => [
  'rounded-sm', 'border', 'py-3', 'px-8', 'whitespace-nowrap', 'text-xs', 'font-semibold',
  {
    'bg-orange-500 text-white border-orange-500': props.type === 'orange',
    'bg-none text-white border-white': props.type === 'transparent-white',
    'bg-none text-orange-500 border-orange-500': props.type === 'transparent-orange'
  }
]);
</script>

<template>
  <button :class="buttonClass">
    <slot></slot>
  </button>
</template>



<style scoped>

</style>
